*{box-sizing: border-box;}
html,body{
    margin: 0;
   
}
.container{
    max-width: 1024px;
    margin: 0 auto;
    padding: 0  24px;
}
.header{
    position: sticky;
    top:0;

}
.header_container{
    
}
.task {
    padding: 10px 12px;
    border: 1px solid rgba(30, 10, 60, 0.12);
    border-radius: 8px;
    background: rgb(232, 238, 145);
    margin-bottom: 15px;
  }
  .task__title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #221c2a;
  }
  .task__meta {
    font-size: 12px;
    color: #5500ff;
  }
  .task__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  
  
  